/* directions.css */
.mapbox-directions-route-summary{
  display:none !important;
}
.mapbox-directions-origin{
  display:none !important;
}
.mapbox-directions-destination{
  display:none !important;
}

.mapbox-directions-instructions {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  display: none !important;
}


/* direction.css */

.mapbox-directions-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mapbox-directions-profile label {
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  color: #333;
}

.mapbox-directions-profile input[type="radio"] {
  display: none;
}

.mapbox-directions-profile input[type="radio"] + label {
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mapbox-directions-profile input[type="radio"]:checked + label {
  background-color: #3887be;
  color: #ffffff;
}

.mapbox-directions-profile input[type="radio"]:hover + label {
  background-color: #f0f0f0;
}

.mapbox-directions-profile input[type="radio"]:checked + label:hover {
  background-color: #1e5186;
}



@media only screen and (max-width: 600px) {
  .mapbox-directions-profile {
    margin-top:-20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .mapboxgl-ctrl-top-right{
    width:50%;
  }
 
}

